[Desktop Entry]
Type=Application
Name=MATLAB Connector
Exec=/home/linya/.MathWorks/ServiceHost/-mw_shared_installs/v2024.9.0.2/bin/glnxa64/OpenMathWorksDesktopApp %u
StartupNotify=false
MimeType=x-scheme-handler/mw-matlabconnector;
NoDisplay=true
