# Use postgres/example user/password credentials
version: '3.9'

services:

  db:
    image: postgres
    container_name: postgres
    # start on computer login
    # restart: always
    # set shared memory limit when using docker-compose
    shm_size: 128mb
    # or set shared memory limit when deploy via swarm stack
    #volumes:
    #  - type: tmpfs
    #    target: /dev/shm
    #    tmpfs:
    #      size: 134217728 # 128*2^20 bytes = 128Mb
    environment:
      POSTGRES_USER: linya
      POSTGRES_PASSWORD: 123456
    ports:
      # Adjust this port as per your needs -> <hostPort>:<containerPort>
      - 5432:5432 # DB is available at localhost:3308 on the host.

    volumes:
      - /home/linya/codes/data/postgresql/:/var/lib/postgresql


  # adminer:
  #   image: adminer
  #   restart: always
  #   ports:
  #     - 8080:8080
