[Desktop Entry]
Name=Dead Cells
Comment=Play this game on Steam
Exec=steam steam://rungameid/588650
Icon=steam_icon_588650
Terminal=false
Type=Application
Categories=Game;
