[Desktop Entry]
Type=Application
Name=MATLAB
Exec=/home/linya/.MathWorks/ServiceHost/-mw_shared_installs/v2025.8.1.1/bin/glnxa64/OpenMathWorksDesktopApp %u
StartupNotify=false
MimeType=x-scheme-handler/mw-matlab;
NoDisplay=true
